/* Webfonts */
@import '_fonts.css';

/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Style Imports */
@import '_typography.css';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';


/* Simple defaults */
body {
  @apply font-sans antialiased text-black bg-white text-[20px] md:text-[20px] lg:text-[21px] tracking-tight md:tracking-tight lg:tracking-tight leading-tight md:leading-tight lg:leading-tight;
  overscroll-behavior: none!important;
}

/* Macbook Air */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  body {
    @apply text-[19px];
  }
}

@supports  (height: 100dvh) {
  .h-screen {
    height: 100dvh;
  }
  .min-h-screen {
    min-height: 100dvh;
  }
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.cursor::after {
  content: "";
  animation: cursor-blink 0.35s steps(2) infinite;
  @apply bg-black w-[1px] h-[13px] inline-block ml-[3px];
}

canvas {
@apply w-full max-w-full h-full max-h-full !important;
}

button {
  @apply tracking-tight md:tracking-tight lg:tracking-tight leading-tight md:leading-tight lg:leading-tight;
}